@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::selection {
  background: #000000 !important;
  color: #fff !important;
}

* {
  font-family: sans-serif;
}

body {
  background-color: white;
  color: rgb(var(--foreground-rgb));
}

.boldFont {
  font-family: Impact, sans-serif;
}
