@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::selection {
  background: #000000 !important;
  color: #fff !important;
}

* {
  font-family: sans-serif;
}

body {
  background-color: white;
  color: rgb(var(--foreground-rgb));
}

.boldFont {
  font-family: Impact, sans-serif;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  animation: 50s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
  opacity: 0.5;
}

.slick-track {
  display: flex;
  gap: 3px !important;
}